.anunt {
    display: flex;
    padding: .5rem;
    background-color: white;
    width: 80%;
    margin: 2rem;
}
.thumbnail {
    height: 100%;
    overflow: hidden;
}
.anunt img {
    background-size: contain;
    object-fit: cover;
    width: 200px;
    height: 150px;
}
.anunt a {
    color: rgb(0, 47, 52);
    outline: none;
    text-decoration: none;
    font-family: Geomanist,Arial,sans-serif;
}
.anunt a:hover {
    color: white;
    background-color: rgb(0, 47, 52);  
}
.detaliiAnunt {
    margin: 0 .5rem;
}